.App {
  text-align: center;
 
}

.addForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardBox{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
 
}

